body{
    background:#ddd;
}

.container {
    width: 50%;
    margin: 0 auto;
}
h1 {text-align:center;}

form {
    border: 3px solid #f1f1f1;
}
input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.btn {
    background-color: #04AA6D;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

ul {
    list-style:none;
}

#messages {
    background-color: #04AA6D;
    
}

#messages li {
    color:white;
    font-size: 20px;
}