<!DOCTYPE html>
<html>
    <head>
        <title>Chat</title>
        <link rel="stylesheet" type="text/css" href="{{url_for('static', path='/style.css')}}">
    </head>
    <style>


    </style>
    <body>
        <div class="container">
            <h1>Messages Chat</h1>
            <form action="" >
                <input type="text" id="messageText" autocomplete="off"/>
                <button class="btn" id="sendMessageBtn">Send</button>
            </form>
            <ol id='messages'>

            </ol>
        </div>
        <script>
            var sendMessage = document.getElementById('sendMessage')
            
            var ws = new WebSocket("ws://localhost:8000/ws");
            ws.onmessage = (event) => {
                var messages = document.getElementById('messages')
                var message = document.createElement('li')
                var content = document.createTextNode(event.data)
                message.appendChild(content)
                messages.appendChild(message)
        
            };
            
            sendMessageBtn.addEventListener('click', (event)=>{
                
                var input = document.getElementById("messageText")
                var string = JSON.stringify(input.value)
                console.log(string)
                ws.send(JSON.parse(string));
                input.value = ''
                event.preventDefault()
            })

        </script>
    </body>
</html>